In [4]:
#Reshape the series ser into a dataframe with 7 rows and 5 columns
import pandas as pd
import numpy as np
ser=pd.Series(np.random.randint(1,10,35))
df=pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  3  8  6  6  7
1  7  3  6  7  9
2  3  2  6  6  9
3  7  9  3  7  6
4  1  3  8  7  9
5  3  1  5  9  7
6  9  2  8  7  4

In [5]:
#2.	Find the positions of numbers that are multiples of 3 from ser
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)

0    7
1    6
2    4
3    1
4    2
5    4
6    1
dtype: int32

In [6]:
#3.	From ser, extract the items at positions in list pos
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [7]:
#4.	Stack ser1 and ser2 vertically and horizontally (to form a dataframe).
ser1=pd.Series(range(5))
ser2=pd.Series(list('abcde'))
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [8]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10,13])
df=pd.concat([ser1,ser2],axis=1)
print(df)

    0     1
0  10   1.0
1   9   3.0
2   6  10.0
3   5  13.0
4   3   NaN
5   1   NaN
6  12   NaN
7   8   NaN
8  13   NaN

In [9]:
#5.	Get the positions of items of ser2 in ser1 as a list
ser1=pd.Series(range(5))
ser2=pd.Series(list('abcde'))
df=pd.concat([ser1,ser2],axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [11]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[np.where(i==ser1)[0].tolist()[0]for i in ser2]

[5, 4, 0, 8]

In [24]:
#Get the positions of items of ser2 in ser1 as a list
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[pd.Index(ser1).get_loc(i)for i in ser2]

[5, 4, 0, 8]

In [13]:
#Compute the mean squared error of truth and pred series
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.3789059523783008

In [14]:
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:x.title())

0      How
1       To
2    Write
3    Code?
dtype: object

In [15]:
#Change the first character of each word to upper case in each word of ser
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:x[0].upper()+x[1:])

0      How
1       To
2    Write
3    Code?
dtype: object

In [17]:
# number of characters in each word in the following series
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x: len(x))

0    3
1    2
2    5
3    5
dtype: int64

In [18]:
#difference of differences between consequtive numbers of the following series
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [19]:
# Convert the following series of date-strings to a timeseries
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse 
ser.map(lambda x: parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [20]:
#Convert the following series of date-strings to a timeseries
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [21]:
#day of month
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse 
ser_ts= ser.map(lambda x: parse(x))
print("Date",ser_ts.dt.day.tolist())

Date [1, 2, 3, 4, 5, 6]

In [23]:
#week number 
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse 
ser_ts= ser.map(lambda x: parse(x))
print("Week number",ser_ts.dt.weekofyear.tolist())

Week number [53, 5, 9, 14, 19, 23]

In [25]:
#day of year and day of week 
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse 
ser_ts= ser.map(lambda x: parse(x))
print("Day number of year:",ser_ts.dt.dayofyear.tolist())
print("Day of week:",ser_ts.dt.weekday_name.tolist())

Day number of year: [1, 33, 63, 94, 125, 157]
Day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

In [30]:
#Change ser to dates that start with 4th of the respective months.
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
from dateutil.parser import parse
ser_ts= ser.map(lambda x: parse(x))
ser_datestr=ser_ts.dt.year.astype('str')+'-'+ser_ts.dt.month.astype('str')+'-'+'04'
print(ser_datestr)


#To format it 
[parse(i).strftime('%Y-%m-%d')for i in ser_datestr]

#alternative 
ser.map(lambda x: parse('04'+x))

0    2010-1-04
1    2011-2-04
2    2012-3-04
dtype: object

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [32]:
#From ser, extract words that contain atleast 2 vowels
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
from collections import Counter
mask=ser.map(lambda x: sum([Counter(x.lower()).get(i,0)for i in list('aeiou')])>=2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [35]:
#Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask=emails.map(lambda x:bool(re.match(pattern,x)))
emails[mask]


#ALTERNATIVE 1
emails.str.findall(pattern,flags=re.IGNORECASE)


#ALTERNATIVE 2
[x[0] for x in [re.findall(pattern,email)for email in emails]if len(x)>0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

In [38]:
#Compute the mean of weights of each fruit

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())


weights.groupby(fruit).mean()

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'apple', 'apple', 'carrot', 'carrot', 'apple', 'carrot', 'banana', 'apple', 'carrot']

apple     4.2
banana    8.0
carrot    6.5
dtype: float64